.chart-card {
  background-color: rgba(255, 255, 255, 0.267); /* Yarı saydam beyaz arka plan */
  width: 300px; /* Kartın genişliği */
  border: 1px solid #ccc; /* Kartın kenar çizgisi */
  border-radius: 8px; /* Kenar yuvarlama */
  padding: 16px; /* İçerik için boşluk */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Gölge efekti */
  position: absolute; /* Konumlandırma için absolute kullan */
  bottom: 20px; /* Alt kenardan boşluk */
  left: 20px; /* Sol kenardan boşluk */
  color: rgba(0, 0, 0, 0.746); /* Yazı rengi siyah */
}

.chart-title {
  text-align: center; /* Başlığı ortala */
  
  color: rgba(0, 0, 0, 0.746); /* Başlık rengi siyah */
}

.chart-container {
  width: 80%; /* Grafiğin genişliği */
  
}
