@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0400;600;700&display=swap');


.event-list-container {
  padding: 20px;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  max-height: 80%;
  overflow-y: auto;
}

.modal-box h5 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.modal-box p {
  margin-bottom: 10px;
}

.modal-box button {
  margin-top: 20px;
  width: 100%;
}

.event-card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  height: 50px;
  width: 30px;
  box-sizing: border-box;
  margin: 0 5px;
}

.grid-container {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  padding-left: 0;
  padding-right: 0;
}

.event-card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}

.event-card-details {
  font-family: 'Poppins', sans-serif;
  font-size: 0.7rem;
  color: gray;
}


