.chat-container {
 
  
  height: 300px;              /* Chat uygulaması yüksekliği */
  border: 1px solid #ddd;     /* Çerçeve (isteğe bağlı) */
}

.messages-container {
  
  overflow-y: auto;           /* Dikey kaydırma */
  padding: 10px;
}

.input-container {
  
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #a55959;
}

.input-container input {
  
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;  /* Buton ve input arasında boşluk */
}

.input-container button {
  padding: 8px 16px;
  font-size: 16px;
  color: #faace0;
  background-color: #7da5d0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: #d866f2;
} 