.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Tam ekran yüksekliği */
    overflow: hidden;
    width: 100%; /* Sayfa genişliğini tam kullan */
    max-width: 1200px; /* Genişlik sınırı ekleyebilirsiniz */
    margin: 0 auto; /* Ortalamak için */
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    padding: 20px;
    margin-top: 40px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow-y: auto;
    flex-shrink: 0;
    max-width: 1100px; /* Max genişlik */
    width: 100%;
}

.form-box {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Elemanlar arasındaki boşluk */
    justify-content: space-between; /* Elemanları yatayda düzenler */
}

.input-box {
    position: relative;
    width: 48%; /* Genişlik 2 kutu için */
    height: 50px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 20px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

/* Map container */
#map-container {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

/* Button styling */
.wrapper button {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: slateblue;
    cursor: pointer;
    font-weight: 700;
    margin-top: 20px;
}

/* Address container */
.address-container {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}


